html {
    scroll-behavior: smooth;
}

body {
    background-color: white;
    margin: 0;
    padding: 0;
    font-weight: 400;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}

@font-face {
    font-family: SequelSansMedium;
    src: url(../fonts/Sequel\ Sans\ Medium\ Body.ttf);
}

@font-face {
    font-family: SequelSansSemi;
    src: url(../fonts/Sequel\ Sans\ Semi\ Bold\ Body.ttf);
}

@font-face {
    font-family: SequelRegular;
    src: url(../fonts/Sequel-Regular.ttf);
}

@font-face {
    font-family: SequelSansBold;
    src: url(../fonts/Sequel\ Sans\ Bold\ Body.ttf);
}

@font-face {
    font-family: DecimaMonoProBold;
    src: url(../fonts/DecimaMonoPro-Bold.otf);
}

/* B */


.discount {
    background-color: #e43d30;
    width: 100%;
    height: 30px;
    margin-top: 0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.discount__text {
    font-size: 10px;
    color: #f5f5f6;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-family: "SequelSansSemi";
}

.navbar {
    width: 100%;
    background-color: #252525;
    position: absolute;
    top: 30px;
    height: 80px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    z-index: 4;
}

.navbar__logo {
    width: 55px;
}

.navbar__ul {
    display: flex;
    list-style-type: none;
}

.ul__li {
    flex-direction: column;
    margin-right: 50px;
}

.li__a {
    font-family: "SequelSansMedium";
    text-decoration: none;
    color: #ffffff;
    font-size: 10px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.login__profile {
    height: 25px;
    width: 25px;
    opacity: 0.7;
    cursor: pointer;
    -webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}

.login__cart {
    height: 25px;
    width: 25px;
    opacity: 0.7;
    cursor: pointer;
    -webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}

.login__profile:hover {
    opacity: 1;
}

.login__cart:hover {
    opacity: 1;
}

.background {
    width: 100%;
    position: relative;
    z-index: -4;
}

.merch {
    margin-top: 30px;
    display: grid;
    width: 100%;
    grid-template-columns: 390px 390px 390px;
    grid-template-rows: 1fr 1fr;
    height: 450px;
    justify-items: center;
    justify-content: center;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

.merch__fig {
    margin-top: 70px;
    position: relative;
}

.fig__anker {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

.anker__div {
    display: inline-block;
    overflow: hidden;
}

.anker__img {
    height: 280px;
    max-width: 100%;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
    vertical-align: middle;
}

.anker__img:hover {
    -webkit-transform:scale(1.5); /* Safari and Chrome */
    -moz-transform:scale(1.5); /* Firefox */
    -ms-transform:scale(1.5); /* IE 9 */
    -o-transform:scale(1.5); /* Opera */
    transform: scale(1.5);
}

.anker__desc {
    margin-top: 20px;
    color: #252525;
    font-family: "SequelSansBold";
    font-size: 12px;
}

.anker__price {
    margin-top: 5px;
    color: #252525;
    font-family: "SequelSansBold";
    font-size: 12px;
}

.anker__sold {
    border: solid 3px red;
}

.anker--new {
    left: 60px;
    position: absolute;
    width: 50px;
    height: 50px;
    border: solid 4px #555555;
    background-color: #f5f5f6;
    letter-spacing: 3px;
}

.hot--new {
    font-family: "DecimaMonoProBold";
    top: 12px;
    position: absolute;
    margin-left: 7px;
    color: #555555;
    text-transform: uppercase;
}

.anker--hot {
    left: 60px;
    position: absolute;
    width: 50px;
    height: 50px;
    border: solid 4px #e43d30;
    background-color: #f5f5f6;
    letter-spacing: 3px;
}

.hot--hot {
    font-family: "DecimaMonoProBold";
    top: 12px;
    position: absolute;
    margin-left: 7px;
    color: #e43d30;
    text-transform: uppercase;
}

.anker--sold {
    left: 60px;
    position: absolute;
    width: 62px;
    height: 55px;
    border: solid 4px #ff320f;
    background-color: #29292b;
    letter-spacing: 3px;
}

.hot--sold {
    font-family: "DecimaMonoProBold";
    top: 5px;
    position: absolute;
    margin-left: 3px;
    color: #f5f5f6;
    text-transform: uppercase;
    text-align: center;
}

.hot--sold:after {
    content: " out"
}

.popular {
    margin-top: 70px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.popular--text {
    margin-top: 70px;
    letter-spacing: 2px;
    color: #252525;
    font-family: "SequelSansBold";
    font-size: 25px;
}

.gallery {
    display: grid;
    width: 100%;
    height: 600px;
    margin-top: 600px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

.gallery__wrapper {
    display: inline-block;
    overflow: hidden;
}

.gallery__img {
    width: 100%;
    min-width: 410px;
    height: auto;
    min-height: 300px;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
    vertical-align: middle;
}

.gallery__img:hover {
    -webkit-transform:scale(1.5); /* Safari and Chrome */
    -moz-transform:scale(1.5); /* Firefox */
    -ms-transform:scale(1.5); /* IE 9 */
    -o-transform:scale(1.5); /* Opera */
    transform:scale(1.5);
}

.footer {
    height: 350px;
    width: 100%;
    margin-top: -20px;
    background-color: #252525;
    display: flex;
    justify-content: space-around;
    align-content: center;
    align-items: center;
}

.footer--text {
    font-family: "DecimaMonoProBold";
    text-decoration: none;
    color: #ffffff;
    font-size: 12px;
}

.footer__img {
    width: 150px;
    height: 130px;
}

.footer__container {
    text-align: center;
    margin-left: -25px;
}

.container--terms {
    color: #ffffff;
    font-family: "DecimaMonoProBold";
}

.container--merch {
    color: #ffffff;
    font-family: "DecimaMonoProBold";
}

.container--contact {
    color: #ffffff;
    font-family: "DecimaMonoProBold";
}

.container--faq {
    color: #ffffff;
    font-family: "DecimaMonoProBold";
}

.container--signup {
    color: #ffffff;
    font-family: "DecimaMonoProBold";
}

.container__anker {
    text-decoration: none;
}

.sortby {
    width: 100%;
    height: 20px;
    text-align: center;
    font-family: "DecimaMonoProBold";
}

.sortby__low {
    font-family: "DecimaMonoProBold";
}

.sortby__high {
    font-family: "DecimaMonoProBold";
}

video {
    margin-top: 58px;
    width: 100%;
    height: 700px;
    background: url(background-image.jpg) center;
    background-size: cover;
    outline: none;
}

.container {
	width: 100%;
    margin: 0 auto;
    height: 600px;
    position: relative;
    text-align: center;
}

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea, #contact button[type="submit"] { font:400 12px/16px "Open Sans", Helvetica, Arial, sans-serif; }

#contact {
	background: #f5f5f6;
	padding: 25px;
	margin: 50px 0;
}

#contact h3 {
	color: #555555;
	display: block;
	font-size: 30px;
    font-weight: 400;
    font-family: "DecimaMonoProBold";
}

#contact h4 {
    color: #555555;
	margin: 5px 0 15px;
	display: block;
    font-size: 13px;
    font-family: "DecimaMonoProBold";
}

fieldset {
	border: medium none !important;
	margin: 0 0 10px;
	min-width: 100%;
	padding: 0;
    width: 100%;
    font-family: "DecimaMonoProBold";
}

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea {
	width: 100%;
	border: 1px solid #CCC;
	background: #FFF;
	margin: 0 0 5px;
    padding: 10px;
    font-family: "DecimaMonoProBold";
}

#contact input[type="text"]:hover, #contact input[type="email"]:hover, #contact input[type="tel"]:hover, #contact input[type="url"]:hover, #contact textarea:hover {
	-webkit-transition: border-color 0.3s ease-in-out;
	-moz-transition: border-color 0.3s ease-in-out;
	transition: border-color 0.3s ease-in-out;
	border: 1px solid #555555;
}

#contact textarea {
	height: 100px;
	max-width: 100%;
    resize: none;
}

#contact button[type="submit"] {
	cursor: pointer;
	width: 100%;
	border: none;
	background: #f13e38;
	color: #FFF;
	margin: 0 0 5px;
	padding: 10px;
    font-size: 15px;
    font-family: "DecimaMonoProBold";
}

#contact button[type="submit"]:hover {
	background: #ff320f;
	transition: background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active { box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.5); }

#contact input:focus, #contact textarea:focus {
	outline: 0;
	border: 1px solid #555555;
}
::-webkit-input-placeholder {
 color: #555555;
 font-family: "DecimaMonoProBold";
}
:-moz-placeholder {
 color: #555555;
 font-family: "DecimaMonoProBold";
}
::-moz-placeholder {
 color: #555555;
 font-family: "DecimaMonoProBold";
}
:-ms-input-placeholder {
 color: #555555;
 font-family: "DecimaMonoProBold";
}

/* E */



/* M */

